---
# configure_microsoft_repos/tasks/apt.yml

# This file should work for any role where you need to add the Microsoft Linux repository information.
# When additional information is required (e.g. repo information for vscode) it will be handled by that role.

# We need to handle the URL strings differently for Ubuntu and Debian
- name: Set version string for URL (Debian)
  ansible.builtin.set_fact:
    parsed_version_string: "{{ ansible_facts['distribution_version'].split('.')[0] }}"
  when: ansible_facts.distribution == "Debian"

- name: Set version string for URL (Ubuntu)
  ansible.builtin.set_fact:
    parsed_version_string: "{{ ansible_facts['distribution_version'] }}"
  when: ansible_facts.distribution == "Ubuntu"

# NOTE: As of Ubuntu 24.04 debsig-verify no longer works due to a SHA1 hash in the signature.
# This task was changed to obtain the prod.list file and install the gpg key manually.
# https://github.com/microsoft/linux-package-repositories#signature-verification

# https://packages.microsoft.com/keys/README
# Starting with microsoft-2025.asc, new repos will use this key going forward
# https://learn.microsoft.com/en-us/linux/packages#how-to-install-microsoft-software-packages-using-the-linux-repository
# https://packages.microsoft.com/keys/microsoft.asc
# Public Key ID: Microsoft (Release signing) gpgsecurity@microsoft.com
# Public Key Fingerprint: BC52 8686 B50D 79E3 39D3 721C EB3E 94AD BE12 29CF
# https://packages.microsoft.com/keys/microsoft-2025.asc
# Public Key ID: Microsoft Corporation - General GPG Signer gpgsign@microsoft.com
# Public Key Fingerprint = AA86 F75E 427A 19DD 3334  6403 EE4D 7792 F748 182B
- name: Obtain Microsoft Signing Keys
  ansible.builtin.get_url:
    url: "https://packages.microsoft.com/keys/{{ item }}"
    dest: "/tmp/{{ item }}"
    mode: '0644'
  loop:
    - microsoft.asc
    - microsoft-2025.asc

# Verify and import the signing keys based on the known fingerprint
# https://learn.microsoft.com/en-us/linux/packages#how-to-use-the-gpg-repository-signing-key
# https://docs.ansible.com/projects/ansible/latest/playbook_guide/playbooks_loops.html#iterating-over-a-dictionary
- name: Verify Microsoft's signing keys
  ansible.builtin.shell: |
    set -o pipefail
    gpg --no-keyring --with-fingerprint "/tmp/{{ item.value.file }}" | grep "{{ item.value.fingerprint }}"
  args:
    executable: /bin/bash
  loop: "{{ signing_keys | dict2items }}"

- name: Install signing keys
  ansible.builtin.copy:
    remote_src: true
    src: "/tmp/{{ item.value.file }}"
    dest: "/etc/apt/keyrings/{{ item.value.file }}"
    owner: root
    group: root
    mode: '0644'
  loop: "{{ signing_keys | dict2items }}"
  become: true
  become_method: ansible.builtin.sudo

# https://docs.ansible.com/projects/ansible/latest/playbook_guide/playbooks_loops.html#iterating-over-a-dictionary
- name: Add Microsoft repository info
  ansible.builtin.deb822_repository:
    name: "{{ item.key }}"
    types: deb
    uris: "https://packages.microsoft.com/{{ ansible_facts.distribution | lower }}/{{ parsed_version_string }}/prod"
    suites: '{{ ansible_distribution_release }}'
    components: main
    architectures:
      - amd64
      - armhf
      - arm64
    signed_by: "/etc/apt/keyrings/{{ item.value.file }}"
  loop: "{{ signing_keys | dict2items }}"
  become: true
  become_method: ansible.builtin.sudo

- name: Disable the new 2025 repo depending on older operating systems
  ansible.builtin.command:
    argv:
    - mv
    - /etc/apt/sources.list.d/microsoft-2025.sources
    - /etc/apt/sources.list.d/microsoft-2025.sources~
  when: (ansible_facts.distribution == "Ubuntu" and ansible_facts.distribution_major_version | int <= 24) or
        (ansible_facts.distribution == "Debian" and ansible_facts.distribution_major_version | int <= 13)
  become: true
  become_method: ansible.builtin.sudo

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 0
  become: yes
  become_method: sudo

# Register which sources your package manager uses for .NET
- name: Register package source for .NET
  ansible.builtin.shell: |
    apt-cache policy '?name(dotnet.*)' | grep -v microsoft | grep '/ubuntu' | cut -d"/" -f3 | sort -u
  args:
    executable: /bin/bash
  register: dotnet_sources

# Split the dotnet_sources into a list
# https://docs.ansible.com/ansible/latest/reference_appendices/common_return_values.html#stdout-lines
# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/split_filter.html

# Either prioritize your distro's package archive for .NET packages, or Microsoft's feed.
# Defaults to your distro's packages, change this in vars/main.yml.
# https://learn.microsoft.com/en-us/dotnet/core/install/linux-package-mixup?pivots=os-linux-ubuntu#whats-going-on

# Only adds or removes these lines, if /etc/apt/preferences.d/microsoft-prod exists it will not modify any other lines
# This loop does not work with the ansible.builtin.copy module, it will overwrite itself on each iteration
# So does ansible.builtin.blockinfile without this syntax using "marker": https://github.com/ansible/ansible-modules-extras/issues/1592
- name: Set package priority for Microsoft feed
  ansible.builtin.blockinfile:
    state: present
    create: yes
    append_newline: yes
    path: /etc/apt/preferences.d/microsoft-prod
    mode: '0644'
    owner: root
    group: root
    block: |
      Package: dotnet* aspnet* netstandard*
      Pin: origin "{{ item }}"
      Pin-Priority: -10
    marker: "# {mark} ANSIBLE MANAGED BLOCK {{item}}"
  with_items:
    - "{{ dotnet_sources.stdout_lines }}"
  when: prioritize_microsoft_feed == "true"
  become: yes
  become_method: sudo

- name: Unset package priority for Microsoft feed
  ansible.builtin.blockinfile:
    state: absent
    create: yes
    append_newline: yes
    path: /etc/apt/preferences.d/microsoft-prod
    mode: '0644'
    owner: root
    group: root
    block: |
      Package: dotnet* aspnet* netstandard*
      Pin: origin "{{ item }}"
      Pin-Priority: -10
    marker: "# {mark} ANSIBLE MANAGED BLOCK {{item}}"
  with_items:
    - "{{ dotnet_sources.stdout_lines }}"
  when: prioritize_microsoft_feed == "false"
  become: yes
  become_method: sudo

- name: Set package priority for Linux archive
  ansible.builtin.blockinfile:
    state: present
    create: yes
    path: /etc/apt/preferences.d/microsoft-prod
    mode: '0644'
    owner: root
    group: root
    block: |
      Package: dotnet* aspnet* netstandard*
      Pin: origin "packages.microsoft.com"
      Pin-Priority: -10
  when: prioritize_microsoft_feed == "false"
  become: yes
  become_method: sudo

- name: Unset package priority for Linux archive
  ansible.builtin.blockinfile:
    state: absent
    create: yes
    path: /etc/apt/preferences.d/microsoft-prod
    mode: '0644'
    owner: root
    group: root
    block: |
      Package: dotnet* aspnet* netstandard*
      Pin: origin "packages.microsoft.com"
      Pin-Priority: -10
  when: prioritize_microsoft_feed == "true"
  become: yes
  become_method: sudo
